# Binary
*.exe
*.exe~
*.dll
*.so
*.dylib

# Database
*.db

# Test binary
*.test

# Output of go coverage
*.out
*.pdf

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# MAPF build artifacts (C++ compiled)
mapf/build/
mapf/build_new/
mapf/PlanViz/
mapf/image/
mapf/plot.ipynb
mapf/printer.txt
mapf/example_problems/
