openapi: 3.0.3
info:
  title: Hospital Navigation API
  description: Hệ thống điều hướng và quản lý bệnh viện thông minh
  version: 1.0.0
servers:
- url: https://group3.it4788.sukkaito.id.vn
  description: Production
- url: http://localhost:8080
  description: Local
tags:
- name: Auth
  description: Xác thực người dùng
- name: User
  description: Quản lý hồ sơ & cài đặt
- name: System
  description: Hệ thống (version, voice)
- name: Map
  description: Bản đồ, POI, tầng
- name: Admin-Map
  description: Quản trị bản đồ (Admin only)
- name: Route
  description: Tìm đường & điều hướng
- name: Flow
  description: Luồng người & mật độ
- name: Simulate
  description: Mô phỏng MAPF
- name: Medical
  description: Y tế / HIS
- name: Device
  description: Thiết bị / Xe lăn
- name: Notification
  description: Thông báo
- name: SOS
  description: Khẩn cấp
- name: Chat
  description: Chat hỗ trợ
- name: Util
  description: Tiện ích (FAQ, feedback...)
- name: Engine
  description: Engine tính toán (Admin only)
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Response:
      type: object
      properties:
        code:
          type: integer
          example: 1000
        message:
          type: string
          example: OK
        data:
          type: object
          nullable: true
    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          nullable: true
          example: null
paths:
  /api/auth/login:
    post:
      tags:
      - Auth
      summary: Đăng nhập
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - phone_number
              - password
              properties:
                phone_number:
                  type: string
                  example: 0900000001
                phone:
                  type: string
                  example: 0900000001
                  description: Alias tương thích test; ưu tiên dùng phone_number.
                password:
                  type: string
                  example: password123
                device_token:
                  type: string
                platform:
                  type: string
                  enum:
                  - android
                  - ios
            examples:
              default:
                summary: Request example
                value:
                  phone_number: 0900000001
                  phone: 0900000001
                  password: password123
                  device_token: fcm-token-example
                  platform: android
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 1000
                  message:
                    type: string
                    example: OK
                  data:
                    type: object
                    properties:
                      user_id:
                        type: integer
                      full_name:
                        type: string
                      phone_number:
                        type: string
                      token:
                        type: string
                      accessToken:
                        type: string
                        description: Alias tương thích test, cùng giá trị với token.
                      refreshToken:
                        type: string
                        description: Alias tương thích test.
                      role:
                        type: string
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      token: jwt-token-example
                      user:
                        user_id: 1
                        role: admin
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/auth/signup:
    post:
      tags:
      - Auth
      summary: Đăng ký tài khoản
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - phone_number
              - password
              - full_name
              properties:
                phone_number:
                  type: string
                phone:
                  type: string
                  description: Alias tương thích test; ưu tiên dùng phone_number.
                password:
                  type: string
                  minLength: 6
                full_name:
                  type: string
                dob:
                  type: string
                  example: '2000-01-01'
                gender:
                  type: integer
                  enum:
                  - 0
                  - 1
                  - 2
            examples:
              default:
                summary: Request example
                value:
                  phone_number: 0900000001
                  phone: 0900000001
                  password: Password123
                  full_name: Nguyen Van A
                  dob: '2000-01-01'
                  gender: 0
      responses:
        '200':
          description: OK - trả OTP info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      updated: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/auth/verify_otp:
    post:
      tags:
      - Auth
      summary: Xác thực OTP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - phone_number
              - otp
              properties:
                phone_number:
                  type: string
                phone:
                  type: string
                  description: Alias tương thích test; ưu tiên dùng phone_number.
                otp:
                  type: string
                otp_code:
                  type: string
                  description: Alias tương thích test; ưu tiên dùng otp.
                otp_type:
                  type: string
                  enum:
                  - signup
                  - reset_password
                  default: signup
            examples:
              default:
                summary: Request example
                value:
                  phone_number: 0900000001
                  phone: 0900000001
                  otp: '123456'
                  otp_code: string
                  otp_type: signup
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      updated: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/auth/forgot_password:
    post:
      tags:
      - Auth
      summary: Quên mật khẩu (gửi OTP)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - phone_number
              properties:
                phone_number:
                  type: string
                phone:
                  type: string
                  description: Alias tương thích test; ưu tiên dùng phone_number.
            examples:
              default:
                summary: Request example
                value:
                  phone_number: 0900000001
                  phone: 0900000001
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      updated: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/auth/reset_password:
    post:
      tags:
      - Auth
      summary: Đặt lại mật khẩu
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - phone_number
              - otp
              - new_password
              properties:
                phone_number:
                  type: string
                phone:
                  type: string
                  description: Alias tương thích test; ưu tiên dùng phone_number.
                otp:
                  type: string
                otp_code:
                  type: string
                  description: Alias tương thích test; ưu tiên dùng otp.
                new_password:
                  type: string
                  minLength: 6
            examples:
              default:
                summary: Request example
                value:
                  phone_number: 0900000001
                  phone: 0900000001
                  otp: '123456'
                  otp_code: string
                  new_password: NewPassword123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      updated: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/auth/logout:
    post:
      tags:
      - Auth
      summary: Đăng xuất
      security:
      - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                fcm_token:
                  type: string
            examples:
              default:
                summary: Request example
                value:
                  fcm_token: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      updated: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/auth/change_password:
    post:
      tags:
      - Auth
      summary: Đổi mật khẩu
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - old_password
              - new_password
              properties:
                old_password:
                  type: string
                new_password:
                  type: string
                  minLength: 6
            examples:
              default:
                summary: Request example
                value:
                  old_password: Password123
                  new_password: NewPassword123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      updated: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/user/get_profile:
    get:
      tags:
      - User
      summary: Lấy hồ sơ
      security:
      - BearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      user_id: 1
                      full_name: Nguyen Van A
                      phone_number: 0900000001
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/user/set_profile:
    post:
      tags:
      - User
      summary: Cập nhật hồ sơ
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                full_name:
                  type: string
                dob:
                  type: string
                gender:
                  type: integer
                avatar:
                  type: string
            examples:
              default:
                summary: Request example
                value:
                  full_name: Nguyen Van A
                  dob: string
                  gender: 1
                  avatar: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      user_id: 1
                      full_name: Nguyen Van A
                      phone_number: 0900000001
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/user/set_devtoken:
    post:
      tags:
      - User
      summary: Đăng ký device token (FCM)
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - device_token
              - platform
              properties:
                device_token:
                  type: string
                platform:
                  type: string
                  enum:
                  - android
                  - ios
            examples:
              default:
                summary: Request example
                value:
                  device_token: fcm-token-example
                  platform: android
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      updated: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/user/get_settings:
    get:
      tags:
      - User
      summary: Lấy cài đặt
      security:
      - BearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      result: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/user/set_settings:
    post:
      tags:
      - User
      summary: Cập nhật cài đặt
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                language:
                  type: string
                theme:
                  type: string
                notification:
                  type: boolean
            examples:
              default:
                summary: Request example
                value:
                  language: string
                  theme: string
                  notification: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      updated: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/user/delete_account:
    delete:
      tags:
      - User
      summary: Xóa tài khoản
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - password
              properties:
                password:
                  type: string
            examples:
              default:
                summary: Request example
                value:
                  password: Password123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      updated: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/sys/check_version:
    get:
      tags:
      - System
      summary: Kiểm tra phiên bản app
      parameters:
      - name: platform
        in: query
        required: true
        schema:
          type: string
          enum:
          - android
          - ios
      - name: app_version
        in: query
        required: true
        schema:
          type: string
          example: 1.0.0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      result: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/sys/get_voice_key:
    get:
      tags:
      - System
      summary: Lấy voice API key
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      result: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/sys/get_voice_files:
    get:
      tags:
      - System
      summary: Danh sách file giọng nói dẫn đường
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      result: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/map/get_floors:
    get:
      tags:
      - Map
      summary: Danh sách tầng
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                    - map_id: 1
                      map_name: Hospital Floor 1
                      rows: 33
                      cols: 57
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/map/get_nodes:
    get:
      tags:
      - Map
      summary: Danh sách POI trên bản đồ
      parameters:
      - name: map_id
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                    - poi_id: 1
                      poi_code: ENT-01
                      poi_name: Main Entrance
                      grid_location: 128
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/map/get_edges:
    get:
      tags:
      - Map
      summary: Danh sách cạnh (adjacency)
      description: 'Tính edges tự động từ grid_data (4 hướng N/S/E/W).

        Trả về danh sách cạnh giữa các ô walkable liền kề, mỗi cạnh chỉ 1 chiều (from_location < to_location).

        '
      parameters:
      - name: map_id
        in: query
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK — `data.edges[]` là mảng `{from_row, from_col, from_location, to_row, to_col, to_location}`, `data.total`
            là tổng số cạnh
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      result: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/map/get_meta:
    get:
      tags:
      - Map
      summary: Metadata bản đồ
      parameters:
      - name: map_id
        in: query
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      result: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/map/get_depts:
    get:
      tags:
      - Map
      summary: Danh sách khoa/phòng
      parameters:
      - name: node_type
        in: query
        schema:
          type: string
      - name: ward_id
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      result: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/map/search_location:
    get:
      tags:
      - Map
      summary: Tìm kiếm vị trí
      parameters:
      - name: keyword
        in: query
        required: true
        schema:
          type: string
      - name: map_id
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      result: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/map/get_landmarks:
    get:
      tags:
      - Map
      summary: Danh sách landmark
      parameters:
      - name: map_id
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                    - poi_id: 1
                      poi_code: ENT-01
                      poi_name: Main Entrance
                      grid_location: 128
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/map/sync_full:
    get:
      tags:
      - Map
      summary: Đồng bộ toàn bộ bản đồ
      parameters:
      - name: map_id
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      result: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/map/floors:
    get:
      tags:
      - Map
      summary: Alias của /api/map/get_floors
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                    - map_id: 1
                      map_name: Hospital Floor 1
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/map/nodes:
    get:
      tags:
      - Map
      summary: Alias của /api/map/get_nodes
      parameters:
      - name: floor_id
        in: query
        schema:
          type: integer
        description: Alias của map_id.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                    - map_id: 1
                      map_name: Hospital Floor 1
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/map/edges:
    get:
      tags:
      - Map
      summary: Alias của /api/map/get_edges
      parameters:
      - name: floor_id
        in: query
        schema:
          type: integer
        description: Alias của map_id.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                    - map_id: 1
                      map_name: Hospital Floor 1
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/map/meta:
    get:
      tags:
      - Map
      summary: Alias của /api/map/get_meta
      parameters:
      - name: floor_id
        in: query
        schema:
          type: integer
        description: Alias của map_id.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                    - map_id: 1
                      map_name: Hospital Floor 1
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/map/search:
    get:
      tags:
      - Map
      summary: Alias của /api/map/search_location
      parameters:
      - name: keyword
        in: query
        schema:
          type: string
      - name: floor_id
        in: query
        schema:
          type: integer
        description: Alias của map_id.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                    - map_id: 1
                      map_name: Hospital Floor 1
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/map/landmarks:
    get:
      tags:
      - Map
      summary: Alias của /api/map/get_landmarks
      parameters:
      - name: floor_id
        in: query
        schema:
          type: integer
        description: Alias của map_id.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                    - map_id: 1
                      map_name: Hospital Floor 1
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/admin/get_maps:
    get:
      tags:
      - Admin-Map
      description: |
        Returns admin map metadata.

        Backward compatible default: include_grid=true, include_stats=false.
        Admin list screens should use include_grid=false to avoid downloading large grid_data payloads.
      parameters:
      - name: include_grid
        in: query
        description: Include grid_data in each map item. Set false for lightweight admin list sync.
        required: false
        schema:
          type: boolean
          default: true
      - name: include_stats
        in: query
        description: Include POI completion fields such as poi_count, landmark_count, missing_types, status, and is_complete.
        required: false
        schema:
          type: boolean
          default: false
      summary: Lấy danh sách map
      security:
      - BearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                    - map_id: 1
                      map_name: Hospital Floor 1
                      map_file_path: maps/hospital_floor_1.map
                      rows: 33
                      cols: 57
                      grid_data: "[[0,0,0],[1,1,0]]"
                      map_image_url: /uploads/maps/hospital_floor_1.png
                      is_active: true
                      has_grid_data: true
                      has_preview_image: true
                      poi_count: 12
                      landmark_count: 3
                      missing_types: []
                      status: complete
                      is_complete: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/admin/get_nodes:
    get:
      tags:
      - Admin-Map
      summary: Lay danh sach POI cua map cho admin
      description: Returns POIs for any existing map, including inactive maps. Map Builder uses this endpoint so editing an inactive map does not lose POI data.
      security:
      - BearerAuth: []
      parameters:
      - name: map_id
        in: query
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                    - poi_id: 1
                      map_id: 1
                      poi_code: ENT-01
                      poi_name: Main Entrance
                      poi_type: entrance
                      grid_row: 2
                      grid_col: 14
                      grid_location: 128
                      is_landmark: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/admin/set_active_map:
    post:
      tags:
      - Admin-Map
      summary: Đổi Map Active
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - map_id
              properties:
                map_id:
                  type: integer
            examples:
              default:
                summary: Request example
                value:
                  map_id: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      updated: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/admin/upload_map:
    post:
      tags:
      - Admin-Map
      summary: Tải lên file .map
      security:
      - BearerAuth: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                map_name:
                  type: string
                rows:
                  type: string
                cols:
                  type: string
                file:
                  type: string
                  format: binary
                  description: File .map từ MovingAI
                image_file:
                  type: string
                  format: binary
                  description: Ảnh preview của map (định dạng PNG/JPG/WEBP)
            examples:
              default:
                summary: Request example
                value:
                  map_name: Hospital Floor 1
                  rows: 33
                  cols: 57
                  file: warehouse_small.map
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      updated: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/admin/upload_output:
    post:
      tags:
      - Admin-Map
      summary: Tải lên file output.json (MAPF)
      security:
      - BearerAuth: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                map_id:
                  type: integer
                file:
                  type: string
                  format: binary
            examples:
              default:
                summary: Request example
                value:
                  map_id: 1
                  file: output.json
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      updated: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/admin/export_map:
    get:
      tags:
      - Admin-Map
      summary: Xuất file .map
      security:
      - BearerAuth: []
      parameters:
      - name: filename
        in: query
        required: true
        schema:
          type: string
          example: warehouse_small.map
        description: Tên file .map cần xuất (lấy từ trường map_file_path của map)
      responses:
        '200':
          description: OK (Trả về file .map binary)
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
              examples:
                success:
                  summary: Successful response
                  value: 'type octile

                    height 33

                    width 57

                    map

                    ....'
  /api/admin/delete_map:
    delete:
      tags:
      - Admin-Map
      summary: Xóa map theo ID (không cho xóa map đang active)
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - map_id
              properties:
                map_id:
                  type: integer
                  description: ID của map cần xóa
            examples:
              default:
                summary: Request example
                value:
                  map_id: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      updated: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/admin/deactivate_map:
    post:
      tags:
      - Admin-Map
      summary: Tắt trạng thái active của map (set is_active = false)
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - map_id
              properties:
                map_id:
                  type: integer
                  description: ID của map cần deactivate
            examples:
              default:
                summary: Request example
                value:
                  map_id: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      updated: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/admin/add_node:
    post:
      tags:
      - Admin-Map
      summary: Thêm Node mới (POI)
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              - map_id
              - name
              - type
              properties:
                id:
                  type: string
                  description: POI code (unique)
                map_id:
                  type: integer
                name:
                  type: string
                type:
                  type: string
                  example: hallway
                x:
                  type: integer
                  description: Grid column
                y:
                  type: integer
                  description: Grid row
                ward_id:
                  type: integer
                is_landmark:
                  type: boolean
                wheelchair_accessible:
                  type: boolean
                capacity:
                  type: integer
                details:
                  type: string
                open_hours:
                  type: string
            examples:
              default:
                summary: Request example
                value:
                  id: 1
                  map_id: 1
                  name: string
                  type: hallway
                  x: 1
                  y: 1
                  ward_id: 1
                  is_landmark: true
                  wheelchair_accessible: true
                  capacity: 1
                  details: string
                  open_hours: 24
      responses:
        '200':
          description: '1000 — Thêm thành công, data là POI vừa tạo.

            2001 — Thiếu field bắt buộc (id, map_id, name, type).

            2002 — Sai kiểu dữ liệu (ví dụ id phải là string).

            4001 — map_id không tồn tại.

            4009 — POI code đã tồn tại.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      updated: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/admin/edit_node:
    post:
      tags:
      - Admin-Map
      summary: Sửa Node
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: string
                x:
                  type: integer
                y:
                  type: integer
                name:
                  type: string
                type:
                  type: string
                is_landmark:
                  type: boolean
                wheelchair_accessible:
                  type: boolean
                is_accessible:
                  type: boolean
                capacity:
                  type: integer
                details:
                  type: string
                open_hours:
                  type: string
                custom_weight:
                  type: number
            examples:
              default:
                summary: Request example
                value:
                  id: 1
                  x: 1
                  y: 1
                  name: string
                  type: wheelchair
                  is_landmark: true
                  wheelchair_accessible: true
                  is_accessible: true
                  capacity: 1
                  details: string
                  open_hours: 24
                  custom_weight: 1.5
      responses:
        '200':
          description: '1000 — Cập nhật thành công.

            2001 — Thiếu id.

            4001 — Node không tồn tại.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      updated: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/admin/del_node:
    delete:
      tags:
      - Admin-Map
      summary: Xóa Node (soft delete)
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: string
                  description: POI code
            examples:
              default:
                summary: Request example
                value:
                  id: 1
      responses:
        '200':
          description: '1000 — Xóa thành công.

            2001 — Thiếu id.

            4001 — Node không tồn tại.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      updated: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/admin/add_edge:
    post:
      tags:
      - Admin-Map
      summary: Thêm Edge thủ công giữa 2 node
      description: 'Trong grid-map, edges thường được tính tự động từ grid adjacency.

        API này cho phép thêm edge thủ công (manual override) vào bảng map_steps.

        '
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - map_id
              - start_node
              - end_node
              - distance
              properties:
                map_id:
                  type: integer
                start_node:
                  type: string
                  description: POI code của node bắt đầu
                end_node:
                  type: string
                  description: POI code của node kết thúc
                distance:
                  type: number
                  minimum: 0.001
                  example: 5.5
            examples:
              default:
                summary: Request example
                value:
                  map_id: 1
                  start_node: string
                  end_node: string
                  distance: 5.5
      responses:
        '200':
          description: '1000 — Tạo thành công, data.id là edge id.

            2001 — Thiếu map_id, start_node, end_node hoặc distance.

            2003 — distance <= 0.

            4001 — map_id không tồn tại.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      updated: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/admin/del_edge:
    delete:
      tags:
      - Admin-Map
      summary: Xóa Edge thủ công
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: integer
                  description: Edge ID
            examples:
              default:
                summary: Request example
                value:
                  id: 1
      responses:
        '200':
          description: '1000 — Xóa thành công.

            2001 — Thiếu id.

            4001 — Edge không tồn tại.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      updated: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/admin/set_weight:
    patch:
      tags:
      - Admin-Map
      summary: Đặt trọng số tùy chỉnh cho Edge (qua edge_id)
      description: 'Cập nhật trọng số (custom_weight) dùng trong thuật toán pathfinding.

        edge_id tương ứng với poi_id của POI (node) trên grid.

        '
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - edge_id
              - weight
              properties:
                edge_id:
                  type: integer
                weight:
                  type: number
                  minimum: 0.001
                  example: 2.5
            examples:
              default:
                summary: Request example
                value:
                  edge_id: 1
                  weight: 2.5
      responses:
        '200':
          description: '1000 — Cập nhật thành công.

            2001 — Thiếu edge_id hoặc weight.

            2002 — Sai kiểu dữ liệu weight.

            2003 — weight <= 0.

            4001 — edge_id không tồn tại.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      updated: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/route/get_modes:
    get:
      tags:
      - Route
      summary: Danh sách chế độ di chuyển
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      result: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/route/preview:
    post:
      tags:
      - Route
      summary: Xem trước tuyến đường
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - start_location
              - dest_location
              - mode_id
              properties:
                start_location:
                  type: integer
                dest_location:
                  type: integer
                mode_id:
                  type: string
                  enum:
                  - walking
                  - wheelchair
                  - stretcher
                  - hospital_cart
            examples:
              default:
                summary: Request example
                value:
                  start_location: 128
                  dest_location: 128
                  mode_id: walking
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      updated: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/route/order:
    post:
      tags:
      - Route
      summary: Đặt tuyến đường
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - start_location
              - dest_location
              - mode_id
              properties:
                start_location:
                  type: integer
                dest_location:
                  type: integer
                mode_id:
                  type: string
            examples:
              default:
                summary: Request example
                value:
                  start_location: 128
                  dest_location: 128
                  mode_id: walking
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      updated: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/route/order_multi:
    post:
      tags:
      - Route
      summary: Đặt tuyến đường nhiều điểm
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - start_location
              - target_locations
              - mode_id
              properties:
                start_location:
                  type: integer
                target_locations:
                  type: array
                  items:
                    type: integer
                mode_id:
                  type: string
            examples:
              default:
                summary: Request example
                value:
                  start_location: 128
                  target_locations:
                  - 128
                  mode_id: walking
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      updated: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/route/order_unordered:
    post:
      tags:
      - Route
      summary: Đặt tuyến đường nhiều điểm tối ưu TSP
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - start_location
              - target_locations
              - mode_id
              properties:
                start_location:
                  type: integer
                target_locations:
                  type: array
                  items:
                    type: integer
                mode_id:
                  type: string
            examples:
              default:
                summary: Request example
                value:
                  start_location: 128
                  target_locations:
                  - 128
                  mode_id: walking
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      updated: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/route/get_steps:
    get:
      tags:
      - Route
      summary: Lấy các bước đi
      security:
      - BearerAuth: []
      parameters:
      - name: route_id
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      result: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/route/get_eta:
    post:
      tags:
      - Route
      summary: Ước tính thời gian
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - route_id
              properties:
                route_id:
                  type: string
                current_step:
                  type: integer
            examples:
              default:
                summary: Request example
                value:
                  route_id: route-001
                  current_step: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      updated: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/route/get_active:
    get:
      tags:
      - Route
      summary: Lấy tuyến đường đang hoạt động
      security:
      - BearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      result: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/route/cancel:
    post:
      tags:
      - Route
      summary: Hủy tuyến đường
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - route_id
              properties:
                route_id:
                  type: string
            examples:
              default:
                summary: Request example
                value:
                  route_id: route-001
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      updated: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/route/recalculate:
    post:
      tags:
      - Route
      summary: Tính lại tuyến đường
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - route_id
              - current_location
              properties:
                route_id:
                  type: string
                current_location:
                  type: integer
            examples:
              default:
                summary: Request example
                value:
                  route_id: route-001
                  current_location: 128
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      updated: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/route/pass_node:
    post:
      tags:
      - Route
      summary: Ghi nhận đi qua node
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - route_id
              - grid_location
              properties:
                route_id:
                  type: string
                grid_location:
                  type: integer
            examples:
              default:
                summary: Request example
                value:
                  route_id: route-001
                  grid_location: 128
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      updated: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/route/get_next:
    get:
      tags:
      - Route
      summary: Lấy bước tiếp theo
      security:
      - BearerAuth: []
      parameters:
      - name: route_id
        in: query
        required: true
        schema:
          type: string
      - name: current_step
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 5
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      result: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/route/get_history:
    get:
      tags:
      - Route
      summary: Lịch sử tuyến đường
      security:
      - BearerAuth: []
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      result: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/route/clear_history:
    delete:
      tags:
      - Route
      summary: Xóa lịch sử
      security:
      - BearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      updated: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/route/share:
    post:
      tags:
      - Route
      summary: Chia sẻ tuyến đường
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - route_id
              properties:
                route_id:
                  type: string
                receiver_phone:
                  type: string
            examples:
              default:
                summary: Request example
                value:
                  route_id: route-001
                  receiver_phone: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      updated: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/route/rate:
    post:
      tags:
      - Route
      summary: Đánh giá tuyến đường
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - route_id
              - rating
              properties:
                route_id:
                  type: string
                rating:
                  type: integer
                  minimum: 1
                  maximum: 5
                comment:
                  type: string
                is_accurate:
                  type: boolean
            examples:
              default:
                summary: Request example
                value:
                  route_id: route-001
                  rating: 1
                  comment: string
                  is_accurate: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      updated: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/routing/get_modes:
    get:
      tags:
      - Route
      summary: Alias của /api/route/get_modes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      route_id: route-001
                      distance: 120
                      steps:
                      - grid_location: 128
                        instruction: Go straight
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/routing/route_ordered:
    post:
      tags:
      - Route
      summary: Alias của /api/route/order_multi
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                start_node:
                  type: string
                  example: node_001
                target_nodes:
                  type: array
                  items:
                    type: string
                transport_mode:
                  type: string
                  example: wheelchair
            examples:
              default:
                summary: Request example
                value:
                  start_node: node_001
                  target_nodes:
                  - string
                  transport_mode: wheelchair
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      route_id: route-001
                      distance: 120
                      steps:
                      - grid_location: 128
                        instruction: Go straight
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/routing/route_unordered:
    post:
      tags:
      - Route
      summary: Alias của /api/route/order_unordered
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                start_node:
                  type: string
                target_nodes:
                  type: array
                  items:
                    type: string
                transport_mode:
                  type: string
            examples:
              default:
                summary: Request example
                value:
                  start_node: string
                  target_nodes:
                  - string
                  transport_mode: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      route_id: route-001
                      distance: 120
                      steps:
                      - grid_location: 128
                        instruction: Go straight
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/routing/re_calculate:
    post:
      tags:
      - Route
      summary: Alias của /api/route/recalculate
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                route_id:
                  type: string
                current_node:
                  type: string
                  description: Alias của current_location; nếu có số trong chuỗi sẽ lấy phần số.
            examples:
              default:
                summary: Request example
                value:
                  route_id: route-001
                  current_node: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      route_id: route-001
                      distance: 120
                      steps:
                      - grid_location: 128
                        instruction: Go straight
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/routing/get_active:
    get:
      tags:
      - Route
      summary: Alias của /api/route/get_active
      security:
      - BearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      route_id: route-001
                      distance: 120
                      steps:
                      - grid_location: 128
                        instruction: Go straight
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/routing/cancel_route:
    post:
      tags:
      - Route
      summary: Alias của /api/route/cancel
      security:
      - BearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      route_id: route-001
                      distance: 120
                      steps:
                      - grid_location: 128
                        instruction: Go straight
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/routing/share_route:
    post:
      tags:
      - Route
      summary: Alias của /api/route/share
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                route_id:
                  type: string
                recipient_phone:
                  type: string
                  description: Alias của receiver_phone.
            examples:
              default:
                summary: Request example
                value:
                  route_id: route-001
                  recipient_phone: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      route_id: route-001
                      distance: 120
                      steps:
                      - grid_location: 128
                        instruction: Go straight
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/routing/rate_path:
    post:
      tags:
      - Route
      summary: Alias của /api/route/rate
      security:
      - BearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      route_id: route-001
                      distance: 120
                      steps:
                      - grid_location: 128
                        instruction: Go straight
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/routing/get_history:
    get:
      tags:
      - Route
      summary: Alias của /api/route/get_history
      security:
      - BearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      route_id: route-001
                      distance: 120
                      steps:
                      - grid_location: 128
                        instruction: Go straight
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/routing/clear_history:
    delete:
      tags:
      - Route
      summary: Alias của /api/route/clear_history
      security:
      - BearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      route_id: route-001
                      distance: 120
                      steps:
                      - grid_location: 128
                        instruction: Go straight
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/routing/get_steps:
    get:
      tags:
      - Route
      summary: Alias của /api/route/get_steps
      security:
      - BearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      route_id: route-001
                      distance: 120
                      steps:
                      - grid_location: 128
                        instruction: Go straight
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/routing/preview_path:
    post:
      tags:
      - Route
      summary: Alias của /api/route/preview
      security:
      - BearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      route_id: route-001
                      distance: 120
                      steps:
                      - grid_location: 128
                        instruction: Go straight
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/routing/get_eta:
    post:
      tags:
      - Route
      summary: Alias của /api/route/get_eta
      security:
      - BearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      route_id: route-001
                      distance: 120
                      steps:
                      - grid_location: 128
                        instruction: Go straight
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/routing/pass_node:
    post:
      tags:
      - Route
      summary: Alias của /api/route/pass_node
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                route_id:
                  type: string
                node_id:
                  type: string
                  description: Alias của grid_location; nếu có số trong chuỗi sẽ lấy phần số.
            examples:
              default:
                summary: Request example
                value:
                  route_id: route-001
                  node_id: ENT-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      route_id: route-001
                      distance: 120
                      steps:
                      - grid_location: 128
                        instruction: Go straight
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/flow/get_density:
    get:
      tags:
      - Flow
      summary: Mật độ tại vị trí
      description: 'Trả về mật độ tại 1 grid_location.

        - Khi simulation đang chạy: trả frequency (số lần agent đi qua) trong window 5 phút, window_minutes > 0.

        - Khi không có simulation: đếm user_pings trong 30 phút gần nhất.

        '
      parameters:
      - name: grid_location
        in: query
        schema:
          type: integer
      - name: route_id
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK — `data.count` là số lượt, `data.window_minutes` là cửa sổ thời gian
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      result: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/flow/get_heatmap:
    get:
      tags:
      - Flow
      summary: Bản đồ nhiệt
      parameters:
      - name: route_id
        in: query
        schema:
          type: string
      description: 'Trả về heatmap toàn bệnh viện.

        - Khi simulation đang chạy: dùng tần suất tích lũy (throughput) trong window 5 phút — ô nào agents đi qua nhiều sẽ
        có density cao.

        - Khi không có simulation: query user_pings 30 phút gần nhất, GROUP BY grid_location.

        '
      responses:
        '200':
          description: OK — `data[]` là mảng `{grid_location, density}`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                    - grid_location: 128
                      density: 12
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/flow/get_bottlenecks:
    get:
      tags:
      - Flow
      summary: Điểm tắc nghẽn
      description: 'Trả về top N điểm tắc nghẽn nhất.

        - Khi simulation đang chạy: top N vị trí có tần suất agent đi qua cao nhất (window 5 phút).

        - Khi không có simulation: top N từ user_pings 30 phút gần nhất.

        '
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 10
      responses:
        '200':
          description: OK — `data[]` là mảng `{grid_location, count}` sắp xếp giảm dần
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                    - grid_location: 128
                      count: 12
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/flow/get_forecast:
    get:
      tags:
      - Flow
      summary: Dự báo mật độ
      parameters:
      - name: hours
        in: query
        schema:
          type: integer
          default: 24
      - name: time_offset
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      result: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/flow/get_alerts:
    get:
      tags:
      - Flow
      summary: Cảnh báo luồng
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      result: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/flow/edge_status:
    get:
      tags:
      - Flow
      summary: Trạng thái cạnh
      parameters:
      - name: grid_location
        in: query
        schema:
          type: integer
      - name: edge_id
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              examples:
                success:
                  summary: Successful response
                  value:
                    code: 1000
                    message: Success
                    data:
                      result: true
                error:
                  summary: Error response
                  value:
                    code: 4000
                    message: Error message
                    data: null
  /api/flow/ping_location:
    post:
      tags:
      - Flow
      summary: Ping vị trí hiện tại
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - grid_location
              - grid_row
              - grid_col
              properties:
                grid_location:
                  type: integer
                grid_row:
[...]
